# Python
venv/
.venv/
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment
.env

# Node
node_modules/
frontend/node_modules/

# Media uploads
media/
backend/media/

# Static build files
staticfiles/
backend/staticfiles/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db